%section#slideshow-container
  .banner
    %ul

      / slide 1
      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/new_inspire.jpg", style: "background:#1abc9c"}/
        .caption.general_caption.pst_media12.lft{"data-easing" => "easeOutExpo", "data-end" => "7900", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "600", "data-start" => "800", "data-x" => "58", "data-y" => "250"}
          %h1{:style => "text-shadow: 2px 0px black"}
            Inspire

      / slide 2
      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/new_cocreate.jpg", style: "background:#1abc9c"}/
        .caption.general_caption.pst_media14.lfl.ltl{"data-easing" => "easeOutBack", "data-end" => "5700", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "900", "data-start" => "100", "data-x" => "56", "data-y" => "250"}
          %h1{:style => "text-shadow: 2px 0px black"}
            Co-create

      / slide 3
      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/new_connect.jpg", style: "background:#1abc9c"}/
        .caption.general_caption.pst_media12.lft{"data-easing" => "easeOutExpo", "data-end" => "7900", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "600", "data-start" => "800", "data-x" => "58", "data-y" => "250"}
          %h1{:style => "text-shadow: 2px 0px black"}
            Connect

      / slide 4
      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/new_img4.jpg", style: "background:#e4e6e6"}/
        .caption.general_caption.pst_media14.lfl.ltl{"data-easing" => "easeOutBack", "data-end" => "5700", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "900", "data-start" => "100", "data-x" => "56", "data-y" => "250"}

      / slide 5
      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/new_img5.jpg", style: "background:#1abc9c"}/
        .caption.general_caption.pst_media12.lft{"data-easing" => "easeOutExpo", "data-end" => "7900", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "600", "data-start" => "800", "data-x" => "58", "data-y" => "250"}

      / slide 6
      %li{"data-transition" => "fade"}
        %img{alt: "", src: "assets/slider/new_dance.jpg", style: "background:#1abc9c"}/
        .caption.general_caption.pst_media12.lft{"data-easing" => "easeOutExpo", "data-end" => "7900", "data-endeasing" => "easeInBack", "data-endspeed" => "900", "data-speed" => "600", "data-start" => "800", "data-x" => "58", "data-y" => "250"}
          %h1{:style => "text-shadow: 2px 0px black"}
            And Dance

/ DESCRIPTION BLOCK

.first-part
  .container
    .main-section
      .row
        %h3.col-md-6.col-md-offset-3.ouishare_stencil.white.text-center#_about{:style => "font-size:20px;"}
          = t('dynamic_translations.about.text0')
      .row
        .col-md-6.col-md-offset-3
          %br
          %br
          %p.white
            = t('dynamic_translations.about.text1')
          %br
          %p.white
            = t('dynamic_translations.about.text2')
          %br
          %p.white
            = t('dynamic_translations.about.text3')
          %br
          %p.white
            = t('dynamic_translations.about.text4')
          %br
          %p.white
            = t('dynamic_translations.about.text5')
          %br
          %p.white
            = t('dynamic_translations.about.text6')
          %br
          %br
          %br
          %p.topics.row.centered
            = image_tag "/assets/coeur-key-topic.png"
    .third-section#_key_topics
      / Key topics
      .row.centered
        %h3.ouishare_stencil.white
          = t('dynamic_translations.topics.title')
        %hr.white
        %br/
        %br/
      .row
        .col-md-6.col-md-offset-3
          .row
            .col-xs-2
              %p.topics
                = image_tag "/assets/collab-economy-icon-2-blue.png"
            .col-md-4
              %h5
                = t('dynamic_translations.topics.collcon_title')
            .col-md-6
              %p.white
                = t('dynamic_translations.topics.collcon_desc')
          .row
            .col-xs-2
              %p.topics
                = image_tag "/assets/crowdfunding-icon-blue.png"
            .col-md-4
              %h5
                = t('dynamic_translations.topics.cf_title')
            .col-md-6
              %p.white
                = t('dynamic_translations.topics.cf_desc')
          .row
            .col-xs-2
              %p.topics
                = image_tag "/assets/open-knowledge-icon.png"
            .col-md-4
              %h5
                = t('dynamic_translations.topics.ok_title')
            .col-md-6
              %p.white
                = t('dynamic_translations.topics.ok_desc')
          .row
            .col-xs-2
              %p.topics
                = image_tag "/assets/collab-economy-icon-blue.png"
            .col-md-4
              %h5
                = t('dynamic_translations.topics.om_title')
            .col-md-6
              %p.white
                = t('dynamic_translations.topics.om_desc')
          .row
            .col-xs-2
              %p.topics
                = image_tag "/assets/horizontal-governance-icon-blue.png"
            .col-xs-4
              %h5
                = t('dynamic_translations.topics.gov_title')
            .col-md-6
              %p.white
                = t('dynamic_translations.topics.gov_desc')
        .col-md-6.col-md-offset-3.space_background
          %br




/ HIGHLIGHTS

/ .blank_bg#_highlights
/   .container
/     .row.centered
/       .col-md-6.col-md-offset-3{style:"position: relative"}
/         /* I know it's weird, just a hack that allow to scale an iframe before bootstrap 3.2 */
/         %img{style:"display:block;width:100%;height:auto", src:"http://placehold.it/16x9"}
/         %iframe{allowfullscreen: "", frameborder: "0", src: "//www.youtube.com/embed/Tq1oeagn2rA", style:"position:absolute;top:0;left:0;width:100%;height:100%"}


/     .row.centered
/       %h3.ouishare_stencil
/         = t('dynamic_translations.highlights.title')
/       %hr.pink

/     .row.centered
/       .col-md-8.col-md-offset-2
/         .row
/           %p
/             = t('dynamic_translations.highlights.description')
/         .row{:style => "margin-top:50px;"}
/           .col-md-12
/             .col-md-6.col-md-offset-3
/               %a.btn.btn-large.btn-primary{href: "https://www.youtube.com/playlist?list=PL8Bt3EbdmpKM4tYKyERKbp6VMYTjYZwCF", :target => "_blank", :style => "width: 170px;"}
/                 = t('dynamic_translations.highlight.btn')


/ OSFEST REPORT

/ #_report.aboutouishare-section{:style => "padding-top: 100px;"}
/   .container
/     .row.centered
/       %h3.ouishare_stencil
/         = t('dynamic_translations.report.title')
/       %hr.blue
/       %br
/       %br
/       .container.round_fond
/         .row
/           .col-md-8.col-md-offset-2
/             %p
/               = t('dynamic_translations.report.description')

/       .row
/         .col-md-12.col-lg-8.col-lg-offset-2
/           .col-sm-12.col-md-6
/             %a{:href => 'http://bit.ly/OuiShareFest14_Report', :target => '_blank'}
/               %img.img-responsive{:src => '/assets/osf_2014_report.jpg', :alt => 'OuiShare Fest 2014 Report', style:"margin:auto"}
/           .col-sm-12.col-md-6
/             %p.centered
/               .col-md-12
/                 .btn.btn-pink{:style => 'width: 280px; margin: 60px 0px 40px 0px;'}
/                   %a{:href => 'http://bit.ly/OuiShareFest14_Report', :target => '_blank'}
/                     = t('dynamic_translations.report.link')
/               .col-md-12
/                 .btn.btn-pink{:style => 'width: 280px;'}
/                   %a{:href => 'http://2014.ouisharefest.com', :target => '_blank'}
/                     = t('dynamic_translations.report.old_site')


/ PRESS

.background_2#_about_press
  .container
    .row.centered
      %h3.ouishare_stencil.white
        = t('dynamic_translations.press.title')
      %hr.white
      %br

    #myCarousel.carousel.slide.col-xs-12.col-md-offset-1.col-lg-offset-2.col-md-10.col-lg-8{ 'data-ride' => "carousel"}

      /Wrapper for slides
      .carousel-inner
        .item.active
          .press-content
            .press-text
              %h3.naiv
                = t('dynamic_translations.press.quote1')
          .label-press
            = t('dynamic_translations.press.quote1_source')
        .item
          .press-content
            .press-text
              %h3.naiv
                = t('dynamic_translations.press.quote2')
          .label-press
            = t('dynamic_translations.press.quote2_source')
        .item
          .press-content
            .press-text
              %h3.naiv
                = t('dynamic_translations.press.quote3')
          .label-press
            = t('dynamic_translations.press.quote3_source')
        .item
          .press-content
            .press-text
              %h3.naiv
                = t('dynamic_translations.press.quote4')
          .label-press
            = t('dynamic_translations.press.quote4_source')
        .item
          .press-content
            .press-text
              %h3.naiv
                = t('dynamic_translations.press.quote5')
          .label-press
            = t('dynamic_translations.press.quote5_source')

      %img.quote-left-carousel{:src => '/assets/quote_left.png', :alt => 'quote left'}
      %img.quote-right-carousel{:src => '/assets/quote_left.png', :alt => 'quote right'}
      / Controls
      %a.left.carousel-control{:href => "#myCarousel", 'data-slide' => "prev"}
        &lsaquo;

      %a.right.carousel-control{:href => "#myCarousel", 'data-slide' => "next" }
        &rsaquo;



/ About OuiShare
#_ouishare.aboutouishare-section
  .container
    .row.centered
      %h3.ouishare_stencil
        = t('dynamic_translations.about_ouishare.title')
      %hr.blue
      %br
      %br
      .container.round_fond
        .row
          .col-md-8.col-md-offset-2
            %p
              = t('dynamic_translations.about_ouishare.text')

        .row
          .col-md-8.col-md-offset-2
            .col-md-12
              %img{:src => '/assets/coeur-aboutouishare.png', :alt => 'OuiShare logo'}
            .col-md-12
              .btn.btn-pink{:style => 'margin: 40px 0px 0px 0px;'}
                %a{:href => 'http://ouishare.net/en/users/sign_up', :target => '_blank'}
                  = t('dynamic_translations.about_ouishare.btn')

